* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --pure-white: #fff;
    --pale-white: #ffffff90;
    --pure-black: #000;
    --pale-black: rgba(0, 0, 0, 0.571);
    --transparancy: #5025d151;

    --active-bg-color: rgba(4, 25, 35, 0.822);
}

/*------------ Variables ------------- */
._center {
    display: flex;
    justify-content: center;
    align-items: center;
}

._invert {
    background-color: black;
    color: white;
}

._bk_invert {
    background-color: #fff;
    color: #fff;
}

._flex_col {
    flex-direction: column;
}

._flex_row {
    flex-direction: row;
}

._flex_row_left_center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

._flex_col_top_center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

._flex_center_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

._flex_center_col {
    display: flex;
    justify-content: center;
    align-items: center;
}



._flex_start_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


._flex_start_col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

._flex_end_row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


._flex_end_col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

._bd_rd_min {
    border-radius: 50px;
}

._bd_rd_medi {
    border-radius: 100px;
}

._bd_rd_max {
    border-radius: 150px;
}

._pad_1 {
    padding: 1em;
}

._pad_left_1 {
    padding-left: 1em;
}

._pad_right_1 {
    padding-right: 1em;
}

._pad_right_2 {
    padding-right: 2em;
}


._pad_2 {
    padding: 2em;
}

._block {
    display: inline-block;
    border-radius: 12px;
}

._justify {
    text-align: justify;
}

/* -------------- BTN -------------- */

.__default_btn {
    width: 200px;
    height: 40px;
    margin: 0.5em;
    outline: none;
    border: none;
    border-radius: 15px;
    z-index: 2;
}

._default_bgcolor_1 {
    background-color: #673de6;
    color: var(--pure-white);
}

._default_bgcolor_2 {
    background-color: #00b67a;
    color: var(--pure-white);
}

._default_bgcolor_3 {
    background-color: #fc5185;
    color: var(--pure-white);
}

._default_bgcolor_4 {
    background-color: #0b6966;
    color: var(--pure-white);
}

/* ---- */
._default_color_1 {
    color: #673de6;
}

._default_color_2 {
    color: #00b67a;
}

._default_color_3 {
    color: #fc5185;
}

._default_color_4 {
    color: #0b6966;
}


/* ----------------------- */

body {
    width: 100%;
    transition: 0.5s;
}

body.active {
    background-color: var(--active-bg-color);
    color: var(--pure-white);
    transition: 0.5s;
}

.__canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.__wrapper {
    width: 100%;
    height: 1000px;
}



.__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10em 0px 10em;
    background-color: #00b6793a;
    height: 80px;
    user-select: none;
    z-index: 5;
}

.__nav.active {
    color: var(--pure-white);
    background-color: var(--active-bg-color);
}

.__nav.active a {
    color: var(--pure-white);
}

.__nav.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 1px 5px 13px #0e0d0d3a;
}

.__switches {
    width: 100%;
    height: 35px;
}

.__switches a {
    text-decoration: none;
    color: var(--pure-black);
}

.__progress-container {
    width: 100%;
    height: 5px;
    background-color: rgba(9, 8, 8, 0.256);
}

.__progress-bar {
    width: 0%;
    height: 5px;
}

.__nav_link_container {
    width: 100%;
    height: 80px;
    padding: 0px 1em 0px 1em;
}


.__title {
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.__link {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.__link a {
    text-decoration: none;
    color: black;
    z-index: 5;
}

/* -----------------floating side bar----------------- */
.__sidebar_container {
    width: 50px;
    height: 95vh;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;

}


.__link_holder {
    margin: 0;
    padding: 0;
}


.__sidebar_link {
    position: absolute;
    left: 0;
    top: 210px;
    height: auto;
    background-color: black;
    overflow: hidden;
    border-radius: 8px;
    z-index: 4;
    display: block;
    left: -55px;
    transition: 0.5s;
}


.__sidebar_link.show {
    left: 0px;
    animation: pop-up 1s;
}


@keyframes pop-up {
    from {
        box-shadow: 1px 4px 13px #00b67a;
    }
    to {

    }
}


._logo_and_text {
    list-style: none;
}


._logo_and_text a {
    position: relative;
    background-color: black;
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
    transition: 0.5s;
    z-index: 4;
    transition: width 0.5s linear;
}


._logo_and_text a i {
    position: relative;
    min-width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

._logo_and_text a span {
    min-width: 200px;
    /*hold actual with */
    display: inline-block;
}


._logo_and_text a:hover,
._logo_and_text a.active {
    color: rgb(2, 159, 186);
    transition: all 0.5s ease;
    width: 200px;
    opacity: 0.1;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* ---------------- drop down --------------  style */

._parent:hover>._child {
    display: block;
    opacity: 0.1;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

._parent li {
    width: 200px;
}

._parent a span {
    display: inline-block;
    width: 200px;
}


._child {
    display: none;
}

._child li {
    list-style: none;
}

/* -------------- dropdown -end-------- */


.__section {
    padding: 0px 10em 0px 10em;
}

/* ----------------------- Home ------------------ */
.__background_showcase {
    position: absolute;
    width: 100%;
    height: 150vh;
    background-image: url('../img/showcase-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.__background_showcase.active {
    opacity: 0.4;
}
._home_showcase {
    width: 100%;
    height: 90vh;
    font-weight: bold;
}

._home_showcase h1 {
    font-weight: bold;
}

._home_showcase h2 {
    font-weight: bold;
}


.__introduction_description {
    padding-top: 10em;
}



._btns_container {
    width: 100%;
    height: 100px;
}

.__introduction_description p {
    font-size: large;
}


._skipper {
    width: 100%;
    height: 300px;
    color: var(--pure-white);
}

._des_header {
    cursor: pointer;
}

._des_context p {
    text-align: justify;
}


.__toggle_tabs_container {
    background-color: var(--pure-white);
    padding: 1em;
    border-radius: 12px;
}







/* --------------------- Login-in ------------------------ */
.__log_in_box_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-black);
    position: fixed;
    left: 0;
    top: 0;
}

.__log_in_box {
    width: 435px;
    overflow: hidden;
    border-radius: 15px;
}


.__log_in_items {
    min-width: 450px;
    height: auto;
    background-color: #00000028;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    transition: 1s;

}

.__log_in_items.slide {
    margin-left: -415px;
    transition: 1s;
}


._input_container {
    line-height: 45px;
}

._input_container ._label {
    display: inline-block;
    width: 170px;
}

._input_container input[type="text"], ._input_container input[type="password"] {
    background-color: red;
}



.__sign_up_container {
    min-width: 370px;
    height: 500px;
    background-color: #eceeee;
    margin: 1em;
    border-radius: 15px;
}


.__sign_up_container h1 {
    text-align: center;
}

.__log_in_container {
    min-width: 370px;
    height: 500px;
    background-color: #eceeee;
    margin:1em 2em 1em 2em;
    border-radius: 15px;
}


.__log_in_container h1 {
    text-align: center;
}


/* ------------------------ display language ----------------------- */
.languages {
    width: 100%;
    height: auto;
    margin-top: 3em;
    padding-bottom: 5em;
}

.languages h1 {
    padding-top: 1em;
}

.languages p {
    text-align: justify;
    padding-top: 1em;
}

.language-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-img {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    padding: 1em;
}

.language-img img {
    height: 80%;
    cursor: default;
}

.language-text-content {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 1em;
}

.language-text-content a {
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}


.language-btn {
    padding: 1em;
    width: 140px;
    margin-top: 1em;
    color: var(--pure-white);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 4;
}




/*-------------------------- footer ----------------------- */
.__footer {
    width: 100%;
    padding: 2em;
}

.__footer a {
    z-index: 5;
}

._footer_search {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    z-index: 5;
}

._footer_search h4 {
    color: var(--pure-white);
}

._footer_search input {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 1em;
}

._footer_search i {
    transform: translateY(8px);
    color: white;
    cursor: pointer;
    margin-left: 1em;
}


.__copyright {
    width: 100%;
    height: 100px;
    color: white;
    border-top: 0.5px solid var(--pale-white)
}

.__footer_link_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

._footer_about_us {
    width: 200px;
    display: flex;
    flex-direction: column;
}

._footer_about_us h5 {
    color: var(--pure-white);
}

._footer_about_us a {
    text-decoration: none;
    color: var(--pure-white);
    line-height: 55px;
}

._footer_services {
    width: 200px;
    display: flex;
    flex-direction: column;
}

._footer_services h5 {
    color: var(--pure-white);
}

._footer_services a {
    text-decoration: none;
    color: var(--pure-white);
    line-height: 55px;

}

._footer_support {
    width: 200px;
    display: flex;
    flex-direction: column;

}

._footer_support h5 {
    color: var(--pure-white);
}

._footer_support a {
    text-decoration: none;
    color: var(--pure-white);
    line-height: 55px;

}




